@use "../abstract/colors";

main{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .advice-section{
    height: 40vh;
    width: 38vh;
    background-color: colors.$dark-grayish-blue;
    margin:1.2rem;
    border-radius: 1rem;
    border: none;
    padding:2%;

    .advice-label{
      text-align: center;
      color:colors.$grayish-blue;
      margin-top:0.9rem;
      margin-bottom: 1.5rem;


        span{
          color:colors.$neon-green;
        }
    }

    #quote{
      font-size: 1.2rem;
      padding:1rem;
    }
  }

  button#btn{
    background-color: colors.$neon-green;
    border-radius: 9999px;
    height: 4rem;
    width: 4rem;
    border: none;
    vertical-align: middle;
  }

  button#btn:hover{
    cursor: pointer;
    box-shadow: 0 0 1em colors.$neon-green;

  }
}


