@use "../abstract/colors";
@use "../abstract/fonts";

html{
  background-color: colors.$dark-blue;
  height: 100vh;
  font-family: fonts.$font-stack;
}

::selection{
  color: black;
  background-color: colors.$neon-green;
}
